@page
@model blog.IndexModel

@{
    ViewData["Title"] = "Posts";
}

<h1>Posts</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>

@foreach (var item in Model.Post)
{
    <h2><a asp-page="./Details" asp-route-id="@item.ID">@Html.DisplayFor(modelItem => item.Title)</a></h2>
    <p style="color:dimgrey"><i>@Html.DisplayFor(modelItem => item.LastEdited)</i></p>
    <p>@Html.DisplayFor(modelItem => item.Preview)</p>
    <hr>
}
